/* General styles */
* { box-sizing: border-box; }

/* End General */

/* Loading animation */
@keyframes loading {
    25% { content: "Loading app."; }
    50% { content: "Loading app.."; }
    75% { content: "Loading app..."; }
} 

.loading {
    margin: 20px;
    font-size: 24px;
    font-weight: bold;
}

.loading:before {
    content: "Loading app";
    animation: loading 0.8s infinite;
}
/* End Loading */


/* Header */
header {}
/* End Header */


/* Main */
main {}

main .trip-selector-wrapper {
    width: 400px;
}

/* End Main */

/* Footer */
footer { padding: 20px; }
footer .copyright {
    text-align: right;
}
/* End Footer */