/* General styles */
* { box-sizing: border-box; }

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

/* End General */

/* Loading animation */
@keyframes loading {
    25% { content: "Loading app."; }
    50% { content: "Loading app.."; }
    75% { content: "Loading app..."; }
} 

.loading {
    margin: 20px;
    font-size: 24px;
    font-weight: bold;
}

.loading:before {
    content: "Loading app";
    animation: loading 0.8s infinite;
}
/* End Loading */


/* Header */
header {
    position: fixed;
    padding: 20px;
    width: 100%;
}

header h1 { margin: 0; }
header h1 .glyphicon-briefcase { top: 5px; }
/* End Header */


/* Main */
main { padding-top: 150px; }

main .trip-selector-wrapper {
    width: 400px;
}

/* End Main */

/* Footer */
footer {
    position: fixed;
    padding: 10px;
    border-top: 1px solid lightgray;
    width: 100%;
    bottom: 0;
    background-color: white;
    z-index: 10;
}
footer .copyright {
    text-align: right;
    font-size: large;
}
/* End Footer */